body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #6886AD;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
}

.container:hover {
    transform: scale(1.12);
}

h2 {
    color: #000000;
    font-size: 25px;
}

p {
    color: #3b3b3b;
    margin: 5px 0;
}

.button-wrapper {
    text-align: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #2484f3;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #15a74b;
}

input[type="range"] {
    width: 100%;
}

#player {
    margin-top: 20px;
}

#chorus {
    background-color: #dddddd;
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .container {
        max-width: 80%;
    }
}

@media screen and (max-width: 480px) {
    .container {
        padding: 10px;
    }
}
